body {
    margin: 0;
    padding: 0;
    background-color: #0B1416;
    --Border-Lines: #2d2d2e;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div a {
    text-decoration: none;
}


/* Top Navbar START */
.Top_Navbar {
    background-color: #0B1416;
    top: 0%;
    position: fixed;
    width: 100%;
    z-index: 9999900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--Border-Lines);
}
.Logo {
    margin: 0;
}
.Person_Icon,
.Notification_Icon,
.Add {
    margin-right: 20px;
    color: #f0ebeb;
    font-size: 40px;
}
/* Top Navbar END */


/* Search Bar START */
.Search_Bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.Search_Container {
    position: relative;
    font-size: 30px;
}
.Search_Icon {
    position: absolute;
    left: 170px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0ebeb;
}
.Search_Input {
    width: 700px;
    margin-left: 150px;
    background-color: #1A282D;
    padding: 16px 60px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}
/* Search Bar END */


/* Side Navbar START */
.Side_Navbar {
    padding-top: 90px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: #0B1416;
    width: 240px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid var(--Border-Lines);
}
.Side_Navbar a {
    color: #f0ebeb;
    font-size: 18px;
    padding: 8px;
}
.Sidebar_Home,
.Sidebar_profile,
.Sidebar_Store {
    padding-bottom: 20px;
    color: #f0ebeb;
    font-size: 16px;
    text-align: start;
    position: relative;
}
.Sidebar_Store::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--Border-Lines);
    width: 90%;
    position: absolute;
    bottom: 0;
}
.Sidebar_Store:hover,
.Sidebar_profile:hover,
.Sidebar_Home:hover {
    background-color: #393A3B;
    border-radius: 5px;
    width: 160px;
}


/* Side Navbar Community */
.Communities h3 {
    font-size: 16px;
    color: #606a6b;
}
.Sidebar_Create {
    color: #fffcfc;
}
.Sidebar_Create a {
    font-size: 16px;
}
/* Side Navbar END */